@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}
*/
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  
  form,input,select {
    @apply p-2 m-2 accent-emerald-500;
  }

  select {
    @apply border-black rounded-md border-black;
  }


  .text-border-white {
    color: theme('colors.black.DEFAULT');
    text-shadow: 1px 1px theme('colors.white.DEFAULT'), -1px -1px theme('colors.white.DEFAULT');
  }
  .font-shadow {
    @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
  }
  .font-shadow2 {
    text-shadow: 
    2px 2px 0 black, 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px black;
  }

  .bg-overlay {
    @apply w-full h-full bg-white flex flex-col bg-opacity-90;
  }

  .page-title-container {
    @apply w-full md:w-2/5 flex justify-end;
  }

  .section-title-container {
    @apply w-full md:w-3/5 p-6 pl-8 m-4 md:m-2 mx-auto md:mx-0 md:w-10/12;
  }

  .page-title {
    @apply flex items-center w-full md:m-2 md:p-6 mx-auto md:mx-0 md:w-10/12 text-7xl  font-black text-left text-zinc-950 uppercase;
  }

  .section-title {
    @apply  font-bold  text-2xl text-right text-zinc-800;
  }

  .body-text {
    @apply leading-loose md:m-6 md:p-6 md:my-4 md:py-2 m-2 p-2 text-xl text-black;
  }

  .highlight-text {
    @apply text-indigo-500 ;
  }

  .list-container {
    @apply m-2 w-full md:w-1/2 flex flex-col md:flex-row;
  }

  .list-title {
    @apply pb-4 pl-4 text-zinc-900 font-bold md:w-1/3;
  }

  .list-items {
    @apply list-disc list-inside text-left text-base md:text-lg px-4 text-zinc-700 md:w-2/3;
  }

  .list-item {
    @apply mb-2;
  }

  .page-container {
    @apply p-1 relative z-10 overflow-y-auto;
  }

  .flex-container {
    @apply flex flex-col md:flex-row;
  }

    .nav-link {
      @apply text-white hover:bg-opacity-25 hover:bg-emerald-700 rounded m-1 hover:text-yellow-300 font-semibold p-1 text-xl;
    }
  
    .mobile-nav-link {
      @apply text-white rounded hover:bg-indigo-950 hover:text-white block p-1 font-semibold text-lg;
    }

    .flag-dropdown {
      @apply bg-zinc-100;
    }

}


/* this is all stuff from claude.ai for the spinner */

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00000080; /* Adjust as needed */
  margin:none;
  padding:none
}

.loading-logo {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] ml-5 text-6xl md:text-7xl text-white drop-shadow-lg font-black
}

.atom-spinner {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.spinner-circle {
  display: block;
  position: absolute;
  color: #ff1d5e;
  font-size: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-line {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 1s;
  border-left-width: calc(60px / 25);
  border-top-width: calc(60px / 25);
  border-left-color: #ff1d5e;
  border-left-style: solid;
  border-top-style: solid;
  border-top-color: transparent;
}

.spinner-line:nth-child(1) {
  animation: atom-spinner-animation-1 1s linear infinite;
  transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.spinner-line:nth-child(2) {
  animation: atom-spinner-animation-2 1s linear infinite;
  transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.spinner-line:nth-child(3) {
  animation: atom-spinner-animation-3 1s linear infinite;
  transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}